In [83]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries
import talipp.indicators as ta
from talipp.ohlcv import OHLCV
import openai
import regex as re
import os
from dotenv import load_dotenv
import requests

load_dotenv()

True

In [84]:
ALPHA_VANTAGE_API_KEY = os.getenv('ALPHA_VANTAGE_API_KEY')
openai.api_type = "azure"
openai.api_base = os.getenv('AZURE_OPENAI_ENDPOINT')
openai.api_version = os.getenv("OPENAI_API_VERSION")
openai.api_key = os.getenv('AZURE_OPENAI_API_KEY')

In [85]:
def fetchStockDataOffline(symbol):
    data = pd.read_csv(f'{symbol}.csv')
    data.index = data['Unnamed: 0']
    data.drop(['Unnamed: 0'],axis=1,inplace=True)
    return data

In [88]:
data = fetchStockDataOffline('IBM')

In [89]:
pairs = [['IBM',345],['GOOG',45.8]]

In [90]:
def get_weighted_data(pairs):
    """Fetch daily stock data for the past 100 days from Alpha Vantage."""

    num_stocks = len(pairs)
    total_quantity = 0
    for i in range(num_stocks):

        total_quantity += pairs[i][1]

        if i==0:
            data = fetchStockDataOffline(pairs[i][0]) * pairs[i][1]
        else:
            data += fetchStockDataOffline(pairs[i][0]) * pairs[i][1]

    data['Volume'] = data['Volume']/total_quantity
    return data

In [103]:
data = fetchStockDataOffline('IBM')
data

              Open      High      Low   Close    Volume
Unnamed: 0
2024-02-02  187.10  187.3900  185.615  185.79   4055411
2024-02-05  185.51  185.7800  183.255  183.42   4379602
2024-02-06  183.55  184.6800  183.040  183.41   3338196
2024-02-07  183.34  184.0200  182.625  183.74   4841188
2024-02-08  182.63  184.5500  181.490  184.36   5161185
...            ...       ...      ...     ...       ...
2024-06-20  174.08  174.2800  171.220  173.92   4723078
2024-06-21  173.97  174.9600  171.400  172.46  10182025
2024-06-24  175.00  178.4599  174.150  175.01   4864735
2024-06-25  175.14  175.7526  171.420  172.60   4119267
2024-06-26  171.28  172.6800  170.410  171.87   2779016

[100 rows x 5 columns]

In [104]:
data = (data * 10) + (data * 10)

In [105]:
data['Volume'] = data['Volume'] / 20

In [106]:
data

              Open      High     Low   Close      Volume
Unnamed: 0
2024-02-02  3742.0  3747.800  3712.3  3715.8   4055411.0
2024-02-05  3710.2  3715.600  3665.1  3668.4   4379602.0
2024-02-06  3671.0  3693.600  3660.8  3668.2   3338196.0
2024-02-07  3666.8  3680.400  3652.5  3674.8   4841188.0
2024-02-08  3652.6  3691.000  3629.8  3687.2   5161185.0
...            ...       ...     ...     ...         ...
2024-06-20  3481.6  3485.600  3424.4  3478.4   4723078.0
2024-06-21  3479.4  3499.200  3428.0  3449.2  10182025.0
2024-06-24  3500.0  3569.198  3483.0  3500.2   4864735.0
2024-06-25  3502.8  3515.052  3428.4  3452.0   4119267.0
2024-06-26  3425.6  3453.600  3408.2  3437.4   2779016.0

[100 rows x 5 columns]

In [76]:
data = get_weighted_data(pairs)

In [81]:
data['Volume'] = data['Volume']/(345+45.8)

In [82]:
data

                 Open         High          Low      Close       Volume
Unnamed: 0
2024-02-02  71002.262  71239.25400  70365.36100  70671.682  1816.423451
2024-02-05  70597.982  70811.58600  69814.05300  69917.694  1555.531699
2024-02-06  70009.718  70435.29200  69767.81600  69936.228  1166.143535
2024-02-07  69944.596  70219.50000  69656.25674  70108.244  1447.040259
2024-02-08  69738.576  70430.28800  69320.08600  70346.876  1427.438971
...               ...          ...          ...        ...          ...
2024-06-20  68150.918  68312.89200  67152.76800  68141.518  1307.776811
2024-06-21  68194.492  68720.23586  67288.14800  67754.608  3409.372305
2024-06-24  68677.624  69907.92950  68336.28400  68658.632  1370.557544
2024-06-25  68719.741  69141.99700  67434.50900  68046.564  1248.204684
2024-06-26  67527.960  68090.19400  67218.19200  67785.096   857.408180

[100 rows x 5 columns]